body {
    margin: 1rem;
    font-family: sans-serif;
    max-width: 60rem;
    margin: 0 auto;
}

* {
    font-size: 1.1rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

input {
    margin-bottom: 1rem;
    width: 30rem;
}
