@font-face {
    font-family: "Noto Color Emoji";
    src: url("/fonts/NotoColorEmoji-Regular.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto-Italic.ttf");
    font-style: italic;
}

@font-face {
    font-family: "Fira Sans";
    src: url("/fonts/FiraSans-Bold.ttf");
    font-weight: bold;
}

body {
    margin: 1rem;
    font-family: sans-serif, "Noto Color Emoji";
    max-width: 60rem;
    margin: 0 auto;
    padding: 1rem;
}

* {
    font-size: 1.1rem;
    font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Fira Sans", sans-serif;
    font-weight: bold;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2.5rem;
    margin-top: 8rem;
    margin-bottom: 3rem;
}

h2::first-letter {
    margin-right: 0.3em;
    font-size: 150%;
}

input {
    margin-bottom: 1rem;
    padding: 0.5rem;
}

.custom-emoji {
    height: 1em;
    font-size: 1.2em;
    vertical-align: middle;
    position: relative;
    bottom: 0.05em;
}

/* when screen is wider than 80em */
@media (min-width: 85em) {
    h2 {
        margin-left: -2.6em;
    }
}
